<!doctype html>
<html ng-app="wordGameApp">
  <head>
    <title>My word game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
  <style>
    .word-input {
      transition: background-color 1s ease-out;
      background-color: white;
    }
    .fail {
      background-color: red;
      transition: none;
    }
    .success {
      background-color: green;
      transition: none;
    }
  </style>

  </head>
  <body>
  <div class="jumbotron">
      <div class="container">

        <h1>Guess the word game</h1>

        <wordgame></wordgame>

      </div>
    </div>

  </body>
</html>

<script>

// Initialize Firebase
var config = {
  apiKey: "AIzaSyDxVqx7a_8lNcHEelPfbfp_TBrZ2zbDDIg",
  authDomain: "word-game-823f5.firebaseapp.com",
  databaseURL: "https://word-game-823f5.firebaseio.com",
  storageBucket: "",
  messagingSenderId: "46193567663"
};
firebase.initializeApp(config);
var database = firebase.database();

// setting the database
// database.ref('words').set(
//   ['pizza', 'bird', 'coffe', 'java', 'bike', 'fly', 'sandwich', 'leaf', 'airplane', 'tofu']
// );

function shuffleWord(word) {
  // Fisher–Yates shuffle
  // https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle
  var a = word.split(""),
      n = a.length;

  for(var i = n - 1; i > 0; i--) {
    var j = Math.floor(Math.random() * (i + 1));
    var tmp = a[i];
    a[i] = a[j];
    a[j] = tmp;
  }
  return a.join("");
}

function maxScore(word) {
  return Math.floor(Math.pow(1.95, (word.length / 3.0)));
}

function getRandowWord(words) {
  if(words.length < 2) {
    throw "Not enough words not loaded";
  }
  return words[Math.floor(Math.random() * words.length)];
}

var wordGameApp = angular.module('wordGameApp', []);

wordGameApp.directive('flashOnChange', function($animate, $timeout) {
  return function(scope, elem, attr) {
      scope.$watch(attr.flashOnChange, function(nv,ov) {
        if(nv) {
          $animate.addClass(elem, nv).then(function() {
            $timeout(function() {$animate.removeClass(elem, nv);}, 100);
            scope[attr.flashOnChange] = "";
          });
        }
      });
   };
});

wordGameApp.component('wordgame', {
  template: 
    '<div ng-show="$ctrl.gameStarted">' +
      '<h2>Current score: {{ $ctrl.totalScore }}</h2><p>Time left: {{ $ctrl.timeLeft }}</p>' +
      '<label>Word to guess: <strong>{{ $ctrl.shuffledWord }}</strong> </label><input type="text" class="form-control input-lg word-input" flash-on-change="inputState" ng-model="typedWord" />' + 
      'max score for this word:{{ $ctrl.maxScore }}' +
    '</div>' +
    '<div ng-show="!$ctrl.gameStarted">' +
      '<button ng-click="$ctrl.startGame()" class="btn btn-default">Start the game</button>' +
    '</div>' +
    '<div ng-show="$ctrl.gameEnded">' +
      '<h2>Your final score: {{ $ctrl.totalScore }}</h2>' +
      '<label>Your name: <input ng-model="username" class="form-control"></label>' +
      '<button ng-click="$ctrl.submitScore()" class="btn btn-primary">Submit my score</button>' +
    '</div>' +
    '<h2>highscores</h2>' + 
    '<ul ng-repeat="(key, value) in $ctrl.highscores">' + 
      '<li>{{ key }}: {{ value }}</li>' +
    '<ul>',

  controller: function WordGameController($scope, $timeout, $interval) {
    this.totalScore = 0;
    this.timeLeft = 0;
    this.gameStarted = false;
    var gameDuration = 40; // in seconds
    this.highscores = {};

    var words = ['duck', 'donald', 'goofy', 'mickey']; // in case firebase is slow, those words would do the trick
    database.ref('words').once('value', function(snapshot) {
      words = snapshot.val();
    });

    var getHighScore = function() {
      database.ref('highscore').once('value', function(snapshot) {
        this.highscores = snapshot.val();
        $scope.$apply();
      }.bind(this));
    }.bind(this);
    getHighScore();

    this.newWord = function() {
      this.currentWord = getRandowWord(words);
      this.shuffledWord = shuffleWord(this.currentWord);
      while(this.shuffledWord === this.currentWord) {
        this.shuffledWord = shuffleWord(this.currentWord);
      }
      $scope.typedWord = "";
      this.maxScore = maxScore(this.shuffledWord);
    }.bind(this);

    this.countdown = function() {
      this.timeLeft--;
    }.bind(this);

    //this.newWord();

    this.startGame = function() {
      this.totalScore = 0;
      this.gameStarted = true;
      this.gameEnded = false;
      this.newWord();
      this.timeLeft = gameDuration;
      $timeout(this.endGame, gameDuration * 1000);
      this.countDownPromise = $interval(this.countdown, 1000);
    }.bind(this);

    this.endGame = function() {
      $interval.cancel(this.countDownPromise);
      this.gameStarted = false;
      this.gameEnded = true;
      this.timeLeft = 0;
    }.bind(this);

    this.submitScore = function(newValue) {
      if(!$scope.username) {
        return;
      }
      database.ref('highscore/' + $scope.username).set(
        this.totalScore
      ).then(function(){
        getHighScore();
      });

    }.bind(this);

    $scope.$watch("typedWord", function(newValue, oldValue) {
      if(!newValue || !oldValue) {
        return;
      }
      if(newValue.length < oldValue.length) {
        this.maxScore--;
      }
      if(this.maxScore <= 0) {
        $scope.inputState = "fail";
        this.newWord();
      }
      if(newValue === this.currentWord) {
        $scope.inputState = "success";
        this.totalScore += this.maxScore;
        this.newWord();
      }
    }.bind(this));

  }
});


</script>